<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/71f27b38fa.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="./css/style-portfolio.css">

    <title>K Mitchell Media - Portfolio</title>
  </head>
  <body>

  <header>
    <div class="container-fluid container-header responsive-img">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
          <img class="logo-item body-item" src="./images/k3-light-resized.png" href="./index.html"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" style="">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- NAVIGATION -->
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link text-white" href="/home">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="active nav-link text-white" href="/portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/services">Services and Testimonials</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/faq">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- HERO CONTENT -->
      <div class="row">
        <div class="col-12 header-title-container text-white">
          <h1 class="header-title display-4">Portfolio</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12 header-text-container">
          <p class="header-text lead">
            We're proud of the work we do. <br />
            Your story could be the next best thing.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 btn-hero-container">
            <a class="btn btn-primary btn-lg btn-hero-item" role="button" href="/contact">Contact Us</a>
        </div>
      </div>
    </div>
  </header>

  <body>
  <!-- MAIN CONTENT -->
  <section class="kmm-portfolio">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Portfolio</h1>
      <p class="lead">
        Browse some of the video productions we've done for our clients.
      </p>
    </div>

  <div class="container portfolio">

    <nav id="tabbed-navigation">
      <div class="nav nav-tabs nav-fill mb-4" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-all-tab" data-toggle="tab" href="#nav-all" role="tab" aria-controls="nav-all" aria-selected="true">All</a>

        <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">About</a>

        <a class="nav-item nav-link" id="nav-audition-tab" data-toggle="tab" href="#nav-audition" role="tab" aria-controls="nav-audition" aria-selected="false">Audition/Talent</a>

        <a class="nav-item nav-link" id="nav-campaign-tab" data-toggle="tab" href="#nav-campaign" role="tab" aria-controls="nav-campaign" aria-selected="false">Campaign</a>

        <!-- <a class="nav-item nav-link" id="nav-commercial-tab" data-toggle="tab" href="#nav-commercial" role="tab" aria-controls="nav-commercial" aria-selected="false">Commercial</a> -->

        <!-- <a class="nav-item nav-link" id="nav-corporate-tab" data-toggle="tab" href="#nav-corporate" role="tab" aria-controls="nav-corporate" aria-selected="false">Corporate</a> -->

        <!-- <a class="nav-item nav-link" id="nav-documentary-tab" data-toggle="tab" href="#nav-documentary" role="tab" aria-controls="nav-documentary" aria-selected="false">Documentary</a> -->

        <a class="nav-item nav-link" id="nav-instructional-tab" data-toggle="tab" href="#nav-instructional" role="tab" aria-controls="nav-instructional" aria-selected="false">DIY</a>

        <a class="nav-item nav-link" id="nav-social-tab" data-toggle="tab" href="#nav-social" role="tab" aria-controls="nav-social" aria-selected="false">Social Media</a>

        <a class="nav-item nav-link" id="nav-testimonial-tab" data-toggle="tab" href="#nav-testimonial" role="tab" aria-controls="nav-testimonial" aria-selected="false">Testimonial</a>
      </div>
    </nav>

    <div id="tabbed-content" class="tab-content mb-5">
      <!-- Start ALL Content -->
      <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
        <div class="row mb-4">

          <% for(var i = 0; i<projects.length; i++){ %>
            <div class="col-md-6">
              <div class="card portfolio-item flex-md-row mb-2">
                <div class="card-body d-flex flex-column align-items-start">
                  <h3 class="card-header text-muted mb-2 portfolio-item-header">
                    <%= projects[i].project_name %>
                  </h3>
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe
                      class="embed-responsive-item"
                      src="https://player.vimeo.com/video/<%=projects[i].vimeo_id%>?title=0&byline=0&portrait=0"
                      frameborder="2"
                      webkitallowfullscreen
                      mozallowfullscreen
                      allowfullscreen>
                    </iframe>
                  </div>
                  <div class="card-footer card-footer-style">
                    <p>
                      <span><strong>Client:</strong> <%= projects[i].client_name %></span>
                      <span class="float-right"><strong>Date:</strong> <%= projects[i].published %></span>
                      <br />
                      <span><strong>Category:</strong>
                        <% if(projects[i].c3) { %>
                          <%= projects[i].c2 %> | <%= projects[i].c3 %>
                          <% } else { %>
                            <%= projects[i].c2 %>
                          <% } %>
                      </span>
                      <span class="float-right"><strong>Runtime:</strong>
                         <%= projects[i].length %>
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          <% } %>

        </div>
      </div>
      <!-- End ALL Content -->

      <!-- Start About Content -->
      <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
        <div class="row mb-4">
          <% for(var i = 0; i<projects.length; i++){ %>
            <% if(projects[i].c2 == "About" || projects[i].c3 == "About"){ %>
            <div class="col-md-6">
              <div class="card portfolio-item flex-md-row mb-2">
                <div class="card-body d-flex flex-column align-items-start">
                  <h3 class="card-header display-6 text-muted mb-2 portfolio-item-header">
                    <%= projects[i].project_name %>
                  </h3>
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe
                      class="embed-responsive-item"
                      src="https://player.vimeo.com/video/<%=projects[i].vimeo_id%>?title=0&byline=0&portrait=0"
                      frameborder="2"
                      webkitallowfullscreen
                      mozallowfullscreen
                      allowfullscreen>
                    </iframe>
                  </div>
                  <div class="card-footer card-footer-style">
                    <p>
                      <span><strong>Client:</strong> <%= projects[i].client_name %></span>
                      <span class="float-right"><strong>Date:</strong> <%= projects[i].published %></span>
                      <br />
                      <span><strong>Category:</strong>
                        <% if(projects[i].c3) { %>
                          <%= projects[i].c2%> | <%= projects[i].c3 %>
                            <% } else { %>
                            <%= projects[i].c2 %>
                        <% } %>
                      </span>
                      <span class="float-right"><strong>Runtime:</strong> <%=projects[i].length%></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
          <% } %>
        </div>
      </div>
      <!-- End About Content -->

      <!-- Start Audition/Talent Content -->
      <div class="tab-pane fade" id="nav-audition" role="tabpanel" aria-labelledby="nav-contact-tab">
        <div class="row mb-4">
          <% for(var i = 0; i<projects.length; i++){ %>
            <% if(projects[i].c2 == "Audition/Talent" || projects[i].c3 == "Audition/Talent"){ %>
            <div class="col-md-6">
              <div class="card portfolio-item flex-md-row mb-2">
                <div class="card-body d-flex flex-column align-items-start">
                  <h3 class="card-header display-6 text-muted mb-2 portfolio-item-header">
                    <%= projects[i].project_name %>
                  </h3>
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe
                      class="embed-responsive-item"
                      src="https://player.vimeo.com/video/<%=projects[i].vimeo_id%>?title=0&byline=0&portrait=0"
                      frameborder="2"
                      webkitallowfullscreen
                      mozallowfullscreen
                      allowfullscreen>
                    </iframe>
                  </div>
                  <div class="card-footer card-footer-style">
                    <p>
                      <span><strong>Client:</strong> <%= projects[i].client_name %></span>
                      <span class="float-right"><strong>Date:</strong> <%= projects[i].published %></span>
                      <br />
                      <span><strong>Category:</strong>
                        <% if(projects[i].c3) { %>
                          <%= projects[i].c2%> | <%= projects[i].c3 %>
                            <% } else { %>
                            <%= projects[i].c2 %>
                        <% } %>
                      </span>
                      <span class="float-right"><strong>Runtime:</strong> <%=projects[i].length%></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
          <% } %>
        </div>
      </div>
      <!-- End Audition/Talent Content -->

      <!-- Start Campaign Content -->
      <div class="tab-pane fade" id="nav-campaign" role="tabpanel" aria-labelledby="nav-contact-tab">
        <div class="row mb-4">
          <% for(var i = 0; i<projects.length; i++){ %>
            <% if(projects[i].c2 == "Campaign" || projects[i].c3 == "Campaign"){ %>
            <div class="col-md-6">
              <div class="card portfolio-item flex-md-row mb-2">
                <div class="card-body d-flex flex-column align-items-start">
                  <h3 class="card-header display-6 text-muted mb-2 portfolio-item-header">
                    <%= projects[i].project_name %>
                  </h3>
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe
                      class="embed-responsive-item"
                      src="https://player.vimeo.com/video/<%=projects[i].vimeo_id%>?title=0&byline=0&portrait=0"
                      frameborder="2"
                      webkitallowfullscreen
                      mozallowfullscreen
                      allowfullscreen>
                    </iframe>
                  </div>
                  <div class="card-footer card-footer-style">
                    <p>
                      <span><strong>Client:</strong> <%= projects[i].client_name %></span>
                      <span class="float-right"><strong>Date:</strong> <%= projects[i].published %></span>
                      <br />
                      <span><strong>Category:</strong>
                        <% if(projects[i].c3) { %>
                          <%= projects[i].c2%> | <%= projects[i].c3 %>
                            <% } else { %>
                            <%= projects[i].c2 %>
                        <% } %>
                      </span>
                      <span class="float-right"><strong>Runtime:</strong> <%=projects[i].length%></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
          <% } %>
        </div>
      </div>
      <!-- End Campaign Content -->

      <!-- Start Instructional/DIY Content -->
      <div class="tab-pane fade" id="nav-instructional" role="tabpanel" aria-labelledby="nav-contact-tab">
        <div class="row mb-4">
          <% for(var i = 0; i<projects.length; i++){ %>
            <% if(projects[i].c2 == "Instructional" || projects[i].c3 == "Instructional"){ %>
            <div class="col-md-6">
              <div class="card portfolio-item flex-md-row mb-2">
                <div class="card-body d-flex flex-column align-items-start">
                  <h3 class="card-header display-6 text-muted mb-2 portfolio-item-header">
                    <%= projects[i].project_name %>
                  </h3>
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe
                      class="embed-responsive-item"
                      src="https://player.vimeo.com/video/<%=projects[i].vimeo_id%>?title=0&byline=0&portrait=0"
                      frameborder="2"
                      webkitallowfullscreen
                      mozallowfullscreen
                      allowfullscreen>
                    </iframe>
                  </div>
                  <div class="card-footer card-footer-style">
                    <p>
                      <span><strong>Client:</strong> <%= projects[i].client_name %></span>
                      <span class="float-right"><strong>Date:</strong> <%= projects[i].published %></span>
                      <br />
                      <span><strong>Category:</strong>
                        <% if(projects[i].c3) { %>
                          <%= projects[i].c2%> | <%= projects[i].c3 %>
                            <% } else { %>
                            <%= projects[i].c2 %>
                        <% } %>
                      </span>
                      <span class="float-right"><strong>Runtime:</strong> <%=projects[i].length%></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
          <% } %>
        </div>
      </div>
      <!-- End Instructional/DIY Content -->

      <!-- Start Social Media Content -->
      <div class="tab-pane fade" id="nav-social" role="tabpanel" aria-labelledby="nav-contact-tab">
        <div class="row mb-4">
          <% for(var i = 0; i<projects.length; i++){ %>
            <% if(projects[i].c2 == "Social Media" || projects[i].c3 == "Social Media"){ %>
            <div class="col-md-6">
              <div class="card portfolio-item flex-md-row mb-2">
                <div class="card-body d-flex flex-column align-items-start">
                  <h3 class="card-header display-6 text-muted mb-2 portfolio-item-header">
                    <%= projects[i].project_name %>
                  </h3>
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe
                      class="embed-responsive-item"
                      src="https://player.vimeo.com/video/<%=projects[i].vimeo_id%>?title=0&byline=0&portrait=0"
                      frameborder="2"
                      webkitallowfullscreen
                      mozallowfullscreen
                      allowfullscreen>
                    </iframe>
                  </div>
                  <div class="card-footer card-footer-style">
                    <p>
                      <span><strong>Client:</strong> <%= projects[i].client_name %></span>
                      <span class="float-right"><strong>Date:</strong> <%= projects[i].published %></span>
                      <br />
                      <span><strong>Category:</strong>
                        <% if(projects[i].c3) { %>
                          <%= projects[i].c2%> | <%= projects[i].c3 %>
                            <% } else { %>
                            <%= projects[i].c2 %>
                        <% } %>
                      </span>
                      <span class="float-right"><strong>Runtime:</strong> <%=projects[i].length%></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
          <% } %>
        </div>
      </div>
      <!-- End Social Media Content -->

      <!-- Start Testimonial Content -->
      <div class="tab-pane fade" id="nav-testimonial" role="tabpanel" aria-labelledby="nav-contact-tab">
        <div class="row mb-4">
          <% for(var i = 0; i<projects.length; i++){ %>
            <% if(projects[i].c2 == "Testimonial" || projects[i].c3 == "Testimonial"){ %>
            <div class="col-md-6">
              <div class="card portfolio-item flex-md-row mb-2">
                <div class="card-body d-flex flex-column align-items-start">
                  <h3 class="card-header display-6 text-muted mb-2 portfolio-item-header">
                    <%= projects[i].project_name %>
                  </h3>
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe
                      class="embed-responsive-item"
                      src="https://player.vimeo.com/video/<%=projects[i].vimeo_id%>?title=0&byline=0&portrait=0"
                      frameborder="2"
                      webkitallowfullscreen
                      mozallowfullscreen
                      allowfullscreen>
                    </iframe>
                  </div>
                  <div class="card-footer card-footer-style">
                    <p>
                      <span><strong>Client:</strong> <%= projects[i].client_name %></span>
                      <span class="float-right"><strong>Date:</strong> <%= projects[i].published %></span>
                      <br />
                      <span><strong>Category:</strong>
                        <% if(projects[i].c3) { %>
                          <%= projects[i].c2%> | <%= projects[i].c3 %>
                            <% } else { %>
                            <%= projects[i].c2 %>
                        <% } %>
                      </span>
                      <span class="float-right"><strong>Runtime:</strong> <%=projects[i].length%></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
          <% } %>
        </div>
      </div>
      <!-- End Testimonial Content -->

    <!-- End Tabbed Content -->
    </div>
  <!-- End Container Content -->
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>

  <!--Footer-->
  <footer class="footer">

      <!--Footer Links-->
      <div class="container-fluid container-footer">
          <div class="row d-flex footer-style pt-3 pl-5 pr-5">
              <div class="col-12 col-sm-6 col-md-6">
                <div class="row">
                  <h5 class="title">Virtue. Vision. Voice</h5>
                </div>
                <div class="row">
                  Give us your vision
                </div>
                <div class="row">
                  We collaborate
                </div>
                <div class="row">
                  We make it beautiful
                </div>
                <div class="row social-media mt-4 mb-3">
                  <a class="facebook" href="http://www.facebook.com/kmitchellmediallc"><i class="fa fa-facebook fa-2x mr-3" aria-hidden="true"></i></a>
                  <a class="twitter" href="http://www.twitter.com/kmitchellmedia"><i class="fa fa-twitter fa-2x mr-3" aria-hidden="true"></i></a>
                  <a class="vimeo" href="http://www.vimeo.com/kmitchellmediallc"><i class="fa fa-vimeo fa-2x mr-3" aria-hidden="true"></i></a>
                  <a class="instagram" href="http://www.instagram.com/kmitchellmedia"><i class="fa fa-instagram fa-2x mr-3" aria-hidden="true"></i></a>
                </div>
              </div>

              <div class="col-md-3">
                  <h5 class="title">Menu</h5>
                  <p>
                      <a href="/home">Home</a><br />
                      <a href="/about">About</a><br />
                      <a href="/portfolio">Portfolio</a><br />
                      <a href="/services">Services</a><br />
                      <a href="/faq">FAQ's</a><br />
                      <a href="/contact">Contact</a>
                  </p>
              </div>

              <div class="col-md-3">
                  <h5 class="title">Contact</h5>
                  <p>
                      Kathryn Mitchell <br />
                      P.O. Box 10355 <br />
                      Phoenix, AZ 85064 <br />
                      (520) 261-2746
                  </p>
              </div>
          </div>
      </div>

      <div class="footer-legalline">
          <div class="container-fluid text-center py-3">
              © 2018 K Mitchell Media, LLC | All Rights Reserved
          </div>
      </div>
      <!--/.Copyright-->

  </footer>
  <!--/.Footer-->
</html>
